
body {
    font-family: Arial, sans-serif;
    background-image: url(../img/relleno/imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 20px;
    background-color: #f4f4f4;
}

body form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body label {
    display: block;
    margin-bottom: 8px;
    color: white;
}
body select{
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}
body input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

body button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body button:hover {
    background-color: #45a049;
}

#historial {
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    background-color: #838383c0;
}

#historial tr {
    margin-bottom: 10px;
}

#historial th {
    list-style-type: none;
    padding: 0;
}

#historial td {
    margin-bottom: 8px;
    color: white;
}